/Autore.class
/BancaDati.class
/Congresso.class
/EccezioneAutoreEProdottoInesistenti.class
/EccezioneAutoreInesistente.class
/EccezioneProdottoInesistente.class
/Ente.class
/Prodotto.class
/Rivista.class
